<div class="h-screen items-center justify-center">
  <h2 class="text-3xl font-bold my-8 text-center text-black">
    Bienvenido a ComiNow
  </h2>
  <br>
  <div class="flex justify-center items-center bg-primary-dark rounded-3xl p-6 mx-100 min-w-[360px]">


    <form class="w-full max-w-xs space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span class="text-accent-color">Correo electrónico</span>
      <label class="floating-label">

        <input type="text" formControlName="email" class="input input-md text-gray-500 border-accent-color" />
      </label>

      <span class="text-accent-color">Contraseña</span>
      <label class="floating-label">
        <input type="password" formControlName="password" class="input input-md text-gray-500 border-accent-color" />
      </label>
      <br>

      <button type="submit"
        [disabled]="isLoading()"
        [class.opacity-50]="isLoading()"
        class="w-full mt-4 py-2 bg-accent-color text-primary-dark hover:bg-button-gray-hover font-semibold rounded-4xl transition duration-300 cursor-pointer flex items-center justify-center gap-2">
        
        @if (isLoading()) {
          <span class="loading loading-spinner loading-sm text-primary-dark"></span>
        } @else {
          <span>Iniciar sesión</span>
        }

      </button>

      <div class="text-center text-accent-color">
        <span>
          ¿No tienes una cuenta?
          <a routerLink="/auth/register" class="font-semibold hover:underline cursor-pointer text-accent-color">
            Crear cuenta
          </a>
        </span>
      </div>

      @if (hasError()) {
      <div class="bg-red-200 text-red-800 p-4 rounded-xl mb-4 w-full text-center">
        Credenciales inválidas. Intenta de nuevo.
      </div>
      }

    </form>
    <br>


  </div>
</div>