<div class="flex pt-16 h-[calc(110vh-4rem)]">
  
  @if (categoriesResource.isLoading()) {
    <div class="w-72 h-full flex justify-center items-center bg-base-100 border-r border-base-200">
      <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>
  } @else {
    <category-sidebar
      [categories]="categoriesResource.value() ?? []"
      (categoryDeleted)="reloadCategories($event)"
      [getCategoryName]="getCategoryName.bind(this)"
    ></category-sidebar>
  }

  <div class="ml-72 flex-1 overflow-hidden p-2 pb-0">
    <div
      class="sticky top-0 bg-base-100 flex justify-center p-2 items-center mb-4 z-10"
    >
      <h2 class="text-xl font-bold text-center px-10">
        Productos
      </h2>
      <button
        routerLink="/products/new"
        class="px-3 py-2 text-center rounded-md font-bold bg-primary-dark text-accent-color cursor-pointer hover:bg-button-gray-hover transition"
      >
        Crear producto
      </button>
    </div>

    @if (productsResource.isLoading()) {
      <div class="flex justify-center items-center h-96">
        <span class="loading loading-spinner loading-lg text-primary"></span>
      </div>
    } @else {
      <product-table
        [products]="filteredProducts()"
        [getCategoryName]="getCategoryName.bind(this)"
        (productDeleted)="reloadProducts($event)"
      ></product-table>
    }
  </div>
</div>