<div
  class="navbar bg-primary-dark shadow-sm pl-6 pr-6 fixed top-0 left-0 right-0 h-16 z-50 flex items-center justify-between gap-4"
>
  <div>
    <a routerLink="/">
      <img
        src="assets/Logo.png"
        width="55"
        height="55"
        class="object-contain"
      />
    </a>
  </div>

  <div class="flex-none">
    <label class="swap swap-rotate">
      <input
        type="checkbox"
        [checked]="sidebarVisible"
        (change)="toggleSidebar()"
      />

      <svg
        class="swap-off fill-accent-color"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
        />
      </svg>

      <svg
        class="swap-on fill-accent-color"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <polygon
          points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
        />
      </svg>
    </label>
  </div>
</div>

@if (sidebarVisible) {
<div
  class="fixed inset-0 backdrop-brightness-80 z-40 transition-opacity duration-300"
  (click)="toggleSidebar()"
></div>
} @if (sidebarVisible) {
<div
  class="fixed top-16 right-0 w-72 h-[calc(100vh-4rem)] bg-primary-dark shadow-md z-50 transition-transform duration-300 ease-in-out flex flex-col justify-between"
>
  <div class="flex justify-center items-center p-4 border-b shadow-none">
    <img
      src="assets/Logo.png"
      width="65"
      height="65"
      class="object-contain"
    />
  </div>

  <ul class="space-y-6 p-6 flex-1">
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >

        <svg
          class="size-[1.2em] mr-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g stroke-linejoin="miter" stroke-linecap="butt">
            <polyline
              points="1 11 12 2 23 11"
              fill="none"
              stroke="currentColor"
              stroke-miterlimit="10"
              stroke-width="2"
            ></polyline>
            <path
              d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"
            ></path>
            <line
              x1="12"
              y1="22"
              x2="12"
              y2="18"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"
            ></line>
          </g>
        </svg>
        Inicio
      </a>
    </li>

    @if(isModuleAccessible(AppModulesId.ORDERS)) {
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/kitchen"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"
          />
        </svg>
        Gestión de Órdenes
      </a>
    </li>
    } 
    
    @if(isModuleAccessible(AppModulesId.POS)) {
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/pos"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        Venta de Productos
      </a>
    </li>
    } 
    
    @if(isModuleAccessible(AppModulesId.REPORTS)) {
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/orders/history"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"
          />
        </svg>
        Historial de Órdenes
      </a>
    </li>
    } 
    
    @if(isModuleAccessible(AppModulesId.PRODUCTS)) {
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/products"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
          />
        </svg>
        Administración de Productos
      </a>
    </li>
    }

  @if(isModuleAccessible(AppModulesId.EMPLOYEES)) {
    <li>
      <a
        (click)="toggleSidebar()"
        routerLink="/employee-management"
        routerLinkActive="router-link-active"
        class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
          />
        </svg>
        Empleados y Roles
      </a>
    </li>
    }
  </ul>

  <div class="border-t p-6">
    <a
      (click)="logout()"
      class="flex space-x-4 items-center w-full h-full px-2 py-1 border border-transparent hover:border-gray-600 rounded-md cursor-pointer transition text-accent-color"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 mr-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
        />
      </svg>
      Salir</a
    >
  </div>
</div>
}